<nav class="navbar navbar-expand-lg navbar-light bg-light pl-lg-5 pr-lg-5">
    <a class="navbar-brand" href="#">V Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" *ngIf="isLogin">
                <a class="nav-link" routerLinkActive="active" routerLink="Admin/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/">PreBook</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="Statistic">Statistic</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="vaccine">Vaccine</a>
            </li>
        </ul>
        <span class="nav-item mr-sm-2" style="cursor: pointer;display:block" (click)="signOut()" *ngIf="isLogin">LogOut</span>
        <span class="nav-item mr-sm-2" style="cursor: pointer;display:block" (click)="SignIn()" *ngIf="!isLogin">Login</span>
    </div>
</nav>